html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

#app {
	width: 100%;
	height: 100%;	
}

@media (min-width: 600px) {
	body {
		max-width: 500px;
		margin: 0 auto;
	}
}

.badge-success {
	background-color: #75a728;
}

.navbar {border-bottom: 1px solid #ebebeb;}
.navbar-light .navbar-toggler {
	border: 0;
	font-size: 26px;
}
.navbar-toggler {
	position: absolute;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 26px;
	text-align: center;
	padding: 22px 0;
	font-weight: 600;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.navbar__email {
	font-size: 15px;
	text-transform: uppercase;
	color: #666;
	text-align: center;
	display: block;
	padding: 22px 5px 15px;
}

.tabs {
	display: flex;
	justify-content: space-around;
	height: 48px;
	background-color: #f8f9fa;
	/*border-bottom: 2px solid #d6d6d6;*/
	align-items: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
}

.tabs .tabs__item.active {
	border-bottom: 3px solid #00ab76;
}


.maq{ position: relative; width: 100%; display: flex; background-color: #f5f5f5; border-radius: 6px; padding: 5px 0 0 5px;     box-shadow: 1px 4px 1px rgba(0,0,0,.1); }
.maq .maq__avatar img { width: 65px; margin: 0 10px; border-radius: 50%; position: relative; top: 5px; }


.loader-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loader {
	border: 2px solid #eee;
	/* Light grey */
	border-top: 2px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}