#app {
	width: 100%;
	height: 100%;
	padding-top: 58px;
}

.navbar {border-bottom: 1px solid #ebebeb;}

.tabs {
	display: flex;
	justify-content: space-around;
	height: 48px;
	background-color: #f8f9fa;
	/*border-bottom: 2px solid #d6d6d6;*/
	align-items: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
}

.maq{ position: relative; width: 100%; display: flex; background-color: #f5f5f5; border-radius: 6px; padding: 5px 0 0 5px;     box-shadow: 1px 4px 1px rgba(0,0,0,.1); }
.maq .maq__avatar img { width: 65px; margin: 0 10px; border-radius: 50%; position: relative; top: 5px; }


.loader-overlay {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 1;
	left: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.loader {
	border: 2px solid #eee; /* Light grey */
	border-top: 2px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 0.6s linear infinite;
}
